@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 30 10% 20%;
    --card: 60 30% 95%;
    --card-foreground: 30 10% 20%;
    --popover: 60 30% 95%;
    --popover-foreground: 30 10% 20%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 10%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 30 10% 20%;
    --muted: 60 30% 88%;
    --muted-foreground: 30 10% 40%;
    --accent: 19 56% 47%;
    --accent-foreground: 60 56% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 120 25% 65%;
    --chart-1: 120 25% 65%;
    --chart-2: 19 56% 47%;
    --chart-3: 120 30% 45%;
    --chart-4: 19 40% 30%;
    --chart-5: 60 40% 50%;
    --radius: 0.5rem;
    --sidebar-background: 60 30% 95%;
    --sidebar-foreground: 30 10% 20%;
    --sidebar-primary: 120 25% 65%;
    --sidebar-primary-foreground: 120 25% 10%;
    --sidebar-accent: 60 40% 88%;
    --sidebar-accent-foreground: 30 10% 15%;
    --sidebar-border: 60 20% 80%;
    --sidebar-ring: 120 25% 65%;
  }
  .dark {
    --background: 20 10% 10%;
    --foreground: 60 20% 85%;
    --card: 20 10% 15%;
    --card-foreground: 60 20% 85%;
    --popover: 20 10% 15%;
    --popover-foreground: 60 20% 85%;
    --primary: 120 20% 25%;
    --primary-foreground: 120 25% 85%;
    --secondary: 20 10% 20%;
    --secondary-foreground: 60 20% 85%;
    --muted: 20 10% 20%;
    --muted-foreground: 60 20% 65%;
    --accent: 19 40% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 25%;
    --input: 20 10% 25%;
    --ring: 19 40% 50%;
    --chart-1: 120 25% 65%;
    --chart-2: 19 56% 47%;
    --chart-3: 120 30% 45%;
    --chart-4: 19 40% 30%;
    --chart-5: 60 40% 50%;
    --sidebar-background: 20 10% 12%;
    --sidebar-foreground: 60 20% 85%;
    --sidebar-primary: 19 40% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 20 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 20 10% 25%;
    --sidebar-ring: 19 40% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
